<div id="addCategoriesPage" class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">
                    <%= title %>
                </h4>


            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <p class="text-muted m-b-30 "></p>

                    <form class="" action="<%= MAIN_URL %>/admin/premiers" method="POST" enctype="multipart/form-data">
                        <%- action=='edit' ? `<input name="_id" type="hidden" value="${premier._id}" />` : "" %>
                        <input name="action" type="hidden" value="<%= action %>" />

                        <div class="form-group">
                            <label>Name</label>
                            <input name="name" type="text" value="<%= action == 'edit' ? premier.name : '' %>"
                                class="form-control" required placeholder="Name..." />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Artist</label>
                            <select id="artist" name="artist" class="form-control select2">
                                <option value="">Unkown Artist</option>
                                <% for(let i=0;i<artists.length;i++){ %>
                                    <%- `<option ${action=='edit' && premier.artist &&
                                        artists[i]._id.toString()==premier.artist._id.toString() ? 'selected' : '' }
                                        value="${artists[i]._id}">${artists[i].first_name} ${artists[i].last_name}
                                        </option>
                                        `%>
                                        <% } %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Genre</label>
                            <select id="genre" name="genre" class="form-control select2">
                                <option value="">Unknown</option>
                                <% for(let i=0;i<genres.length;i++){ %>
                                    <%- `<option ${action=='edit' && premier.genre &&
                                        genres[i]._id.toString()==premier.genre._id.toString() ? 'selected' : '' }
                                        value="${genres[i]._id}">${genres[i].name}</option>
                                        `%>
                                        <% } %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <div>
                                <textarea id="description"
                                    name="description"><%- action == 'edit' ? premier.description : '' %></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <img class="musicCover" src="<%- action == 'edit' ? premier.cover : '' %>" alt="" />
                            <label>Cover</label>
                            <input name="cover" type="file" class="filestyle" data-buttonname="btn-secondary"
                                data-buttonText="Select">
                        </div>
                        <div class="form-group">
                            <label>Track URL</label>
                            <input name="trackURL" type="text" value="<%= action == 'edit' ? premier.trackURL : '' %>"
                                class="form-control" required placeholder="Track URL..." />
                        </div>
                        <div class="form-group mb-0">
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light ml-1">
                                    Add
                                </button>
                                <a href="/admin/premiers" class="btn btn-secondary waves-effect">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->

</div>
<!-- container-fluid -->