<div id="addCategoriesPage" class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">
                    <%= title %>
                </h4>


            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <p class="text-muted m-b-30 "></p>

                    <form class="" action="<%= MAIN_URL %>/admin/tutorials" method="POST" enctype="multipart/form-data">
                        <%- action=='edit' ? `<input name="_id" type="hidden" value="${tutorial._id}" />` : "" %>
                            <input name="action" type="hidden" value="<%= action %>" />

                            <div class="form-group">
                                <label>Title</label>
                                <input name="title" type="text" value="<%= action == 'edit' ? tutorial.title : '' %>" class="form-control" required placeholder="Title..." />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Categories</label>
                                <select id="categories" name="categories" class="form-control select2" multiple>
                                <option value=" ">Unkown Category</option>
                                <% for(let i=0;i<categories.length;i++){ %>
                                <%- `<option ${action=='edit' && tutorial.categories && tutorial.categories.map(c=>c._id).indexOf(categories[i]._id) > -1
                                ? 'selected' : '' } value="${categories[i]._id}">${categories[i].name}</option>
                                `%>
                                <% } %>
                            </select>
                            </div>
                            <div class="form-group ">
                                <label class="control-label ">Tags</label>
                                <select id="tags " name="tags " class="form-control select2" multiple>
                                <option value=" " disabled>Select Tags...</option>
                                <% for(let i=0;i<tags.length;i++){ %>
                                <%- `<option ${action=='edit' && tutorial.tags && tutorial.tags.map(c=>c._id).indexOf(tags[i]._id) > -1
                                ? 'selected' : '' } value="${tags[i]._id}">${tags[i].name}}</option>
                                `%>
                                <% } %>
                            </select>
                            </div>
                            <div class="form-group ">
                                <label>Content</label>
                                <div>
                                    <textarea id="content" name="content"><%- action == 'edit' ? tutorial.description : '' %></textarea>
                                </div>
                            </div>
                            <div class="form-group ">
                                <img class="musicCover " src="<%- action=='edit' ? tutorial.image : '' %>" alt="
                                <%- action == 'edit' ? tutorial.name : '' %>" />
                                <label>Image</label>
                                <input name="post_image" type="file" class="filestyle" data-buttonname="btn-secondary" data-buttonText="Select">
                            </div>
                            <div class="form-group mb-0">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light ml-1">
                                    Add
                                </button>
                                    <a href="/admin/tutorials" class="btn btn-secondary waves-effect">
                                    Cancel
                                </a>
                                </div>
                            </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->

</div>
<!-- container-fluid -->