<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">
                    <%= title %>
                </h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">

                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row pb-3">

        <div class="col-xl-12">
            <a href="<%= MAIN_URL + '/admin/albums/'%>"
                class="btn btn-secondary waves-effect waves-light mr-1"><i class="mdi mdi-arrow-left"></i>Back to albums</a>
            <a href="<%= MAIN_URL + '/admin/albums/tracks/add/'+album_id %>"
            class="btn btn-success waves-effect waves-light mr-1"><i class="mdi mdi-plus"></i>Add New Track</a>
        </div>
    </div>

    <div class="row">

        <div class="col-xl-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <h4 class="mt-0 m-b-30 header-title">
                        <%= title %>
                    </h4>

                    <div class="table-responsive">
                        <table class="table table-vertical mb-1">
                            <thead>
                                <th>Cover</th>
                                <th>Name</th>
                                <th>Artist</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <% tracks?.forEach(function(track){ %>
                                    <%- `<tr>
                                        <td>${track.cover ? ` <img src="${MAIN_URL + "/covers/"+track.cover}"
                                                alt="tableMusicCover" class="thumb-lg mr-2" />`:""}</td>
                                        <td>
                                            ${track.name}
                                        </td>
                                        <td>${track.artist? track.artist.first_name + " " + track.artist.last_name :
                                            "Unknown"}
                                        </td>
                                        <td>
                                            <a href="${MAIN_URL + "/admin/albums/tracks/edit/"+track._id}"
                                                class="btn btn-secondary waves-effect waves-light mr-1">Edit</a>

                                            <form class="d-inline-block" method="POST"
                                                action="${MAIN_URL +'/admin/albums/tracks'}">
                                                <input name="action" type="hidden" value="delete" />
                                                <input name="_id" type="hidden" value="${track._id}" />
                                                <input name="album_id" type="hidden" value="${track.album._id}" />
                                                <button type="submit"
                                                    class="btn btn-danger waves-effect waves-light">Delete</button>
                                            </form>
                                        </td>
                                        </tr>`;
                                        %>
                                        <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div>
<!-- container-fluid -->