<% const hasError=response ? (response.result=='uploadError' || !response.result.affectedRows &&
    !response.result.changedRows) : false; var message; if(hasError){ message='ثبت با خطا مواجه شد!' } else{
    message='تغییرات با موفقیت انجام شد.' } %>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">
                        <%= title %>
                    </h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">

                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->

        <% if(response){%>
            <div class="row">
                <div class="col-sm-6">
                    <div class="alert alert-<%= hasError ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                        <strong>
                    <%=message %>
                </strong>

                    </div>
                </div>
            </div>
            <% } %>
                <div class="row">

                    <div class="col-xl-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h4 class="mt-0 m-b-30 header-title">
                                    <%= title %>
                                </h4>

                                <div class="table-responsive">
                                    <table class="datatable table table-vertical mb-1">
                                        <thead>
                                            <th>ID</th>
                                            <th>Mobile Number</th>
                                            <th>Full Name</th>
                                            <th>
                                                Role
                                            </th>
                                            <th>Email</th>
                                            <th>Actions</th>
                                        </thead>
                                        <tbody>
                                            <% users.forEach(function(user){ %>
                                                <%- `<tr>
                                                    <td>
                                                        ${user._id}</td>
                                                    <td>${user.username}</td>
                                                    <td>
                                                        <!-- <img src="${user.avatar}" alt="user-image" class="thumb-sm mr-2 rounded-circle" />  -->
                                                        ${user.first_name || ""} ${user.last_name || ""}
                                                    </td>
                                                    <td>
                                                        ${user.role}
                                                    </td>
                                                    <td>${user.email}</td>
                                                                <td>
                                                <a href="${MAIN_URL + "/admin/users/edit/"+user._id}"
                                                    class="btn btn-secondary waves-effect waves-light mr-1">Edit</a>
                                                   
                                                    <form class="d-inline-block" method="POST" action="${MAIN_URL +'/admin/users'}">
                                                        <input name="action" type="hidden" value="delete"/>
                                                        <input name="_id" type="hidden" value="${user._id}"/>
                                                        <button type="submit"
                                                        class="btn btn-danger waves-effect waves-light">Delete</button>
                                                    </form>
                                            </td>
                                                    </tr>`;
                                                    %>
                                                    <% }) %>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

    </div>
    <!-- container-fluid -->

    <script>
        notif = true;
        notifMessage = '<%= message %>';
    </script>