<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{MAIN_URL}); %>
</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <%-include("topnav");%>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <%-include("sidebar");%>
                <!-- Left Sidebar End -->

                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="content-page">
                    <!-- Start content -->
                    <div class="content">
                        <%-include(`../pages/${page}`);%>
                    </div>
                    <!-- content -->

                    <%- include("footer") %>

                </div>


                <!-- ============================================================== -->
                <!-- End Right content here -->
                <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->


    <%- include('footerLinks',{MAIN_URL}); %>

</body>

</html>