<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main Menu</li>
                <li>
                    <a href="<%=MAIN_URL%>/admin" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span>
                    </a>
                </li>
                <!-- <li>
                    <a href="<%=MAIN_URL%>/admin/radio" class="waves-effect">
                        <i class="mdi mdi-access-point"></i> <span> Radio </span>
                    </a>
                </li> -->
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-stream"></i><span> Albums
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/albums/add"><i class="mdi mdi-plus"></i><span>Add a Album</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/albums"><i class="mdi mdi-view-headline"></i><span>Albums List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-stream"></i><span> Premiers
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/premiers/add"><i class="mdi mdi-plus"></i><span>Add a Premier</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/premiers"><i class="mdi mdi-view-headline"></i><span>Premiers List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-play"></i><span> Podcasts
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/podcasts/add"><i class="mdi mdi-plus"></i><span>Add a Podcast</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/podcasts"><i class="mdi mdi-view-headline"></i><span>Podcasts List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-play-box-outline"></i><span> Performances
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/performances/add"><i class="mdi mdi-plus"></i><span>Add a Performance</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/performances"><i class="mdi mdi-view-headline"></i><span>Performances List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-download"></i><span> Free Downloads
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/freeDownloads/add"><i class="mdi mdi-plus"></i><span>Add New</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/freeDownloads"><i class="mdi mdi-view-headline"></i><span>Free Downloads List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-multiple-outline"></i><span> Artists
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/artists/add"><i class="mdi mdi-plus"></i><span>Add New Artist</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/artists"><i class="mdi mdi-view-headline"></i><span>Artists List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-guitar-electric"></i><span> Genres
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/genres/add"><i class="mdi mdi-plus"></i><span>Add New Genre</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/genres"><i class="mdi mdi-view-headline"></i><span>Genres List</span></a></li>
                    </ul>
                </li>
                <li class="menu-title">Blog</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-list"></i><span> Tutorials
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/tutorials/add"><i class="mdi mdi-plus"></i><span>Add a Tutorial</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/tutorials"><i class="mdi mdi-view-headline"></i><span>Tutorials List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-list"></i><span> News
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/news/add"><i class="mdi mdi-plus"></i><span>Add a News</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/news"><i class="mdi mdi-view-headline"></i><span>News List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-list"></i><span> Blog Categories
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/categories/add"><i class="mdi mdi-plus"></i><span>Add a Category</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/categories"><i class="mdi mdi-view-headline"></i><span>Categories List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-list"></i><span> Blog Tags
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/tags/add"><i class="mdi mdi-plus"></i><span>Add a Tag</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/tags"><i class="mdi mdi-view-headline"></i><span>Tags List</span></a></li>
                    </ul>
                </li>
                <li class="menu-title">Admin</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-multiple"></i><span> Users
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/users/add"><i class="mdi mdi-plus"></i><span>Add New</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/users"><i class="mdi mdi-view-headline"></i><span>Users List</span></a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>