<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main Menu</li>
                <li>
                    <a href="<%=MAIN_URL%>/admin" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span>
                    </a>
                </li>
                <!-- <li>
                    <a href="<%=MAIN_URL%>/admin/radio" class="waves-effect">
                        <i class="mdi mdi-access-point"></i> <span> Radio </span>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-stream"></i><span> Albums
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/albums/add"><i class="mdi mdi-plus"></i><span>Add a Album</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/albums"><i class="mdi mdi-view-headline"></i><span>Albums List</span></a></li>
                    </ul>
                </li> -->
                <li>
                    <a href="<%=MAIN_URL%>/admin/gallery" class="waves-effect"><i class="mdi mdi-image"></i><span> Gallery
                            
                        </span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-stream"></i><span> Quotes
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/quotes/add"><i class="mdi mdi-plus"></i><span>Add a Quote</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/quotes"><i class="mdi mdi-view-headline"></i><span>Quotes List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-play"></i><span> POVs
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/podcasts/add"><i class="mdi mdi-plus"></i><span>Add a POV</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/podcasts"><i class="mdi mdi-view-headline"></i><span>POVs List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-play-box-outline"></i><span> Motivate Me
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/motivateme/add"><i class="mdi mdi-plus"></i><span>Add a Motivate Me</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/motivateme"><i class="mdi mdi-view-headline"></i><span>Motivate Me List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-stream"></i><span> Recover Me
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/recover_me/add"><i class="mdi mdi-plus"></i><span>Add New</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/recover_me"><i class="mdi mdi-view-headline"></i><span>Recover Me List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-multiple-outline"></i><span> Mental Training
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/mental_training/add"><i class="mdi mdi-plus"></i><span>Add New</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/mental_training"><i class="mdi mdi-view-headline"></i><span>Mental Training List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-stream"></i><span> Train Me
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/train_me/add"><i class="mdi mdi-plus"></i><span>Add New</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/train_me"><i class="mdi mdi-view-headline"></i><span>Train Me List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-list"></i><span> Get Me Fit
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/get_me_fit/add"><i class="mdi mdi-plus"></i><span>Add New</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/get_me_fit"><i class="mdi mdi-view-headline"></i><span>Get Me Fit List</span></a></li>
                    </ul>
                </li>
                <li class="menu-title">Blog</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-list"></i><span> News
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/news/add"><i class="mdi mdi-plus"></i><span>Add a News</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/news"><i class="mdi mdi-view-headline"></i><span>News List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-list"></i><span> Blog Categories
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/categories/add"><i class="mdi mdi-plus"></i><span>Add a Category</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/categories"><i class="mdi mdi-view-headline"></i><span>Categories List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-list"></i><span> Blog Tags
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/tags/add"><i class="mdi mdi-plus"></i><span>Add a Tag</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/tags"><i class="mdi mdi-view-headline"></i><span>Tags List</span></a></li>
                    </ul>
                </li>
                <li class="menu-title">Admin</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-multiple"></i><span> Users
                            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                        </span></a>
                    <ul class="submenu">
                        <li><a href="<%=MAIN_URL%>/admin/users/add"><i class="mdi mdi-plus"></i><span>Add New</span></a></li>
                        <li><a href="<%=MAIN_URL%>/admin/users"><i class="mdi mdi-view-headline"></i><span>Users List</span></a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>