<!-- Top Bar Start -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="<%=MAIN_URL%>/admin" class="logo">
            <span>
                <img src="<%=MAIN_URL%>/logo.svg" alt="" height="30">
                <span class="text-white pl-2">FC MOTIVATE</span>
            </span>
            <i>
                <img src="<%=MAIN_URL%>/logo.svg" alt="" height="30">
            </i>
        </a>
    </div>

    <nav class="navbar-custom">

        <ul class="navbar-right d-flex list-inline float-right mb-0">
            <li class="dropdown notification-list">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <span id="userTitle" class="pl-1"></span>
                        <img src="<%= MAIN_URL %>/admin/assets/images/users/user-4.jpg" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a class="dropdown-item" href="/admin/users/edit/<%= currentUser._id %>"><i class="mdi mdi-account-circle m-r-5"></i> My Profile</a>
                        <!-- <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5"></i> My Wallet</a> -->
                        <!-- <a class="dropdown-item d-block" href="/admin/settings"><span
                                class="badge badge-success float-right">11</span><i class="mdi mdi-settings m-r-5"></i>
                            Settings</a> -->
                        <div class="dropdown-divider"></div>
                        <a id="logoutBtn" class="dropdown-item text-danger" href="#"><i class="mdi mdi-power text-danger"></i> Exit</a>
                    </div>
                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
            <li class="">
                <h6 class="text-white m-0 pt-4">
                    FC Motivate
                </h6>
            </li>
        </ul>

    </nav>

</div>
<!-- Top Bar End -->